{
  "openapi": "3.0.3",
  "info": {
    "title": "User Service",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://user-service.dajohnston.co.uk/api/v1"
    },
    {
      "url": "http://localhost:3000/api/v1"
    }
  ],
  "tags": [
    {
      "name": "user-info",
      "description": "Operations about user-info"
    }
  ],
  "paths": {
    "/user-info": {
      "get": {
        "tags": ["user-info"],
        "summary": "Get details of requesting user.",
        "description": "Get details of the requesting user.",
        "operationId": "getUserInfo",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth0_auth": []
          }
        ]
      },
      "patch": {
        "tags": ["user-info"],
        "summary": "Update the details of the requesting user.",
        "description": "Update the details of the requesting user.",
        "operationId": "updateUserInfo",
        "requestBody": {
          "description": "Partial details of user info to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchUserInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth0_auth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BaseUser": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "example": "john.doe@email.com",
            "readOnly": true
          },
          "nickname": {
            "type": "string",
            "example": "JD"
          },
          "gravatarEmailAddress": {
            "type": "string",
            "example": "david@gravatar.com"
          },
          "picture": {
            "type": "string",
            "example": "https://my-picture.com"
          },
          "avatarImageSource": {
            "$ref": "#/components/schemas/AvatarImageSource"
          }
        }
      },
      "UserInfo": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseUser"
          }
        ],
        "required": [
          "firstName",
          "lastName",
          "email",
          "avatarImageSource",
          "nickname",
          "gravatarEmailAddress",
          "picture"
        ]
      },
      "PatchUserInfo": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseUser"
          }
        ],
        "minProperties": 1
      },
      "AvatarImageSource": {
        "type": "string",
        "enum": ["GRAVATAR", "MANUAL"]
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "message": {
            "type": "string"
          }
        },
        "required": ["code", "message"]
      }
    },
    "securitySchemes": {
      "auth0_auth": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://dajohnston.eu.auth0.com/authorize?audience=https://user-service.dajohnston.co.uk",
            "scopes": {
              "openid": "openid",
              "profile": "profile",
              "offline_access": "offline access"
            }
          }
        }
      }
    }
  }
}
